#contact {
  padding-top: 30px;
  background-color: transparent !important;
  text-align: center;
  margin-bottom: -120px; }

#contact-title {
  padding-top: 120px;
  font-family: 'Oswald', sans-serif;
  color: #f0bd01;
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 40px;
  margin-top: -20px; }

#n, #e, #m {
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: #f0bd01;
  padding: 10px 10px 10px 10px;
  width: 500px; }

#mybtn {
  color: black;
  font-weight: bold;
  margin-top: 25px;
  background-color: #f0bd01;
  border: none;
  padding: 10px 30px 10px 30px;
  cursor: pointer; }

/*input placeholder*/
input::-webkit-input-placeholder {
  color: gray;
  font-weight: bold; }

input:-ms-input-placeholder {
  color: gray;
  font-weight: bold; }

input::-moz-placeholder {
  color: gray;
  font-weight: bold; }

/*textarea placeholder*/
textarea::-webkit-input-placeholder {
  color: gray; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: gray; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: gray; }

textarea:-ms-input-placeholder {
  color: gray; }

.contact-toggle {
  color: #f0bd01;
  background-color: black;
  cursor: pointer;
  font-weight: 600 !important;
  font-size: 40px;
  padding: 10px 30px 10px 30px;
  border: 1px solid;
  border-radius: 8px; }

.contact-form {
  text-align: center;
  padding: 20px 0; }

#contact-toggle {
  background: linear-gradient(to right, black, #252424, black); }

.contact-success {
  font-weight: bold;
  color: yellow !important;
  font-size: 24px; }

.contact-contain {
  width: 650px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 18px;
  border: 1px solid;
  border-color: rgba(240, 189, 1, 0.8); }

.content {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  z-index: 100; }

.background {
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }
